In [1]:
import pandas as pd

In [2]:
citations = pd.read_csv("../data/citations.csv")

In [3]:
citations.head()

,app_id,citation_pat_pgpub_id,parsed,ifw_number,action_type,action_subtype,form892,form1449,citation_in_oa
0,12000001,20060218340,20060218340,NaN,NaN,NaN,0,1,0
1,12000001,2343564,2343564,NaN,NaN,NaN,1,0,0
2,12000001,6622200,6622200,NaN,NaN,NaN,1,0,0
3,12000001,6182004,6182004,NaN,NaN,NaN,0,1,0
4,12000001,2323432,2323432,NaN,NaN,NaN,1,0,0

How to read app_id, especially first 2 digits:
https://patentlibrarian.com/reference-library/u-s-application-series-codes/

Les's check 13xxxxxx : Dec. 2010 â€“ Aug. 2013

In [4]:
citations = citations[(citations.app_id >= 13000000) & (citations.app_id < 14000000)]

In [5]:
citations.head()

,app_id,citation_pat_pgpub_id,parsed,ifw_number,action_type,action_subtype,form892,form1449,citation_in_oa
19182111,13000002,20050278581,20050278581,NaN,NaN,NaN,1,1,0
19182112,13000002,20080010530,20080010530,NaN,NaN,NaN,0,1,0
19182113,13000002,20110208737,20110208737,NaN,NaN,NaN,0,1,0
19182114,13000002,20060047908,20060047908,NaN,NaN,NaN,0,1,0
19182115,13000002,20090132866,20090132866,NaN,NaN,NaN,0,1,0

In [6]:
len(citations)

22752171

`parsed` column stands for cited patent in office actions.

This columns includes several id types, such as 2011xxxxxxx, xxxxxxx and others.  
Here let's focus on 2011xxxxxxx case.

In [7]:
for year in range(1990,2014):
    year_str = str(year)
    print(year_str, len(citations[ citations['parsed'].str.contains(year_str).fillna(False) ]))

1990 11200
1991 10200
1992 8907
1993 8413
1994 9201
1995 9593
1996 8429
1997 9027
1998 8404
1999 9716
2000 57250
2001 182148
2002 534186
2003 654308
2004 761097
2005 882795
2006 928709
2007 995298
2008 1096466
2009 1133443
2010 1134590
2011 964546
2012 722263
2013 436353